
{% extends 'layout.html.twig' %}
{% block body %}
    <div id="main">
        <div class="header">
            <h1>Add Promotion</h1>

        </div>
        <div class="content" >
            <div class="pure-g" style="margin-bottom: 20px !important; margin-top: 20px!important;">
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>

                <div class="pure-u-1-5">
                    <a class="pure-button" href="{{ base_url()~'/'~'admin/discounts' }}" > Go to Promotions</a>
                </div>

            </div>

            <form class="pure-form pure-form-aligned" method="post" id="promotion_data">
                <fieldset>
                    <legend>Promotion Details:</legend>
                    <div class="pure-control-group">
                        <label for="promotion_name">Promotion Name</label>
                        <input id="promotion_name" name="name" type="text" placeholder="promotion name" >
                    </div>

                    <div class="pure-control-group">
                        <label for="promotion_type">Promotion Type</label>
                        <select id="promotion_type" name="type">
                            <option value="">Select</option>
                            <option value="coupon">Coupon</option>
                            <option value="basket">Basket</option>
                        </select>
                    </div>
                    <div class="pure-control-group">
                        <label for="promo_id">Promo</label>
                        <select id="promo_id" name="promo">
                            <option value="">Select</option>
                            <option value="fixed_amount">Amount Discount</option>
                            <option value="percentage_discount">Percentage Discount</option>
                        </select>
                    </div>
                    <div class="pure-control-group" id="percent_field" style="display:none;">
                        <label for="percent">Percent</label>
                        <input id="percent" type="text" name="percent_off">
                    </div>
                    <div class="pure-control-group" id="amount_field" style="display:none;">
                        <label for="amont">Amount</label>
                        <input id="amount" type="text" name="fixed_off">
                    </div>
                    <div class="pure-control-group">
                        <label for="promotion_start_date">Start Date</label>
                        <input id="promotion_start_date" type="text" name="start_date">
                    </div>

                    <div class="pure-control-group">
                        <label for="promotion_end_date">End Date</label>
                        <input id="promotion_end_date" type="text" name="end_date" >
                    </div>

                    <div class="pure-control-group">
                        <label for="aligned-email">Description</label>
                        <textarea rows="4" cols="50" id="aligned-email" name="description">
                        </textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Configuration</legend>
                    <div class="pure-control-group">
                        <label for="exclusive">Exclusive</label>
                        <select id="exclusive" name="exclusive">
                            <option value="">Select</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>

                        <label for="channels">Channels</label>
                        <select id="channels" name="channels">
                            <option value="">Select</option>
                            <option value="jd">JD</option>
                            <option value="millets">Millets</option>
                        </select>

                        <label for="free_shipping">Free shipping</label>
                        <select id="free_shipping" name="free_shipping">
                            <option value="">Select</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </fieldset>
                    <div class="pure-controls"><input  type="button" id="promotion_data_btn" class="pure-button pure-button-primary" value="Submit"/></div>

            </form>
    </div>
    </div>
{% endblock %}
{% block internaljs %}
<script src="{{ base_url() }}/js/add_promotion.js"></script>
{% endblock %}
