
{% extends 'layout.html.twig' %}
{% block body %}
    <div id="main">
        <div class="header">
            <h1>Discounts</h1>

        </div>
        <div class="content" >
            <div class="pure-g" style="margin-bottom: 20px !important; margin-top: 20px!important;">
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>
                <div class="pure-u-1-5"> &nbsp;</div>

                <div class="pure-u-1-5">
                    <a class="pure-button" href="{{ base_url()~'/'~'admin/discount/add' }}" >+ Add Discount</a>
                </div>

            </div>

            <table class="pure-table pure-table-horizontal" >
                <thead>
                <tr>
                    <th>#</th>
                    <th>Discount Name</th>
                    <th>Discount type</th>
                    <th>Desc.</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for i in 1..5 %}
                <tr>
                    <td>{{ i }}</td>
                    <td>Buy x Get Discount</td>
                    <td>buy_x_get_discount</td>
                    <td>Buy x Get Discount</td>
                    <td>
                        <div class="pure-button-group" role="group" aria-label="...">
                            <button class="pure-button">Edit</button>
                            <button class="pure-button">Delete</button>
                            <button class="pure-button pure-button-active">Apply</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
    </div>
    </div>
{% endblock %}